.App {
  text-align: center;
}

.App-header {
  background-image: url('./IMG_0420.jpeg');
  /* background-color: rgb(65, 64, 64); */ 
  background-position: 100%;
  background-size: cover;
  height: 60rem; 
  padding: 20px;
  color: white;
}

.App-header h1 { 
  margin-top: 20%; 
}

body {
  background-color: rgb(26, 25, 25); 
}

.card-span {
  margin: 100px; 
 }

.MuiTypography-root { 
  color: white; 
}
