.App {
  text-align: center;
}

.App-header {
  background-color: rgb(65, 64, 64);
  height: 70px;
  padding: 20px;
  color: white;
}

body {
  background-color: rgb(26, 25, 25); 
}

.card-span {
  margin: 100px; 
 }

.MuiTypography-root { 
  color: white; 
}
.MuiTypography-body2 { 
  color: white; 
}